# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

### Step 2. Import the dataset [wind.csv](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data) from the folder

In [2]:
data = pd.read_table('wind.data', sep=',')

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [4]:
data['Date'] = data['Yr'].astype(str) + data['Mo'].astype(str) + data['Dy'].astype(str)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
 15  Date    6574 non-null   object
dtypes: float64(12), int64(3), object(1)
memory usage: 821.9+ KB

### Step 4. Year 2061 is seemingly improper. Convert every year which are < 70 to 19XX instead of 20XX.

In [6]:
data.Date = pd.to_datetime(data.Date, format='%y%m%d')

In [7]:
data.Date.head(3)

0   2061-01-01
1   2061-01-02
2   2061-01-03
Name: Date, dtype: datetime64[ns]

In [8]:
# step1: fetch current date

today_date = dt.datetime.now()
today_date

# step2: fetch current year

current_year = today_date.year
current_year

2020

In [9]:
# conversion to 19XX year

data.Date = np.where(data.Date.dt.year > current_year, data.Date - pd.DateOffset(years=100), data.Date)

In [10]:
data.Date

0      1961-01-01
1      1961-01-02
2      1961-01-03
3      1961-01-04
4      1961-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Date, Length: 6574, dtype: datetime64[ns]

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [11]:
data = data.set_index('Date')

In [12]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Date', length=6574, freq=None)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [13]:
data.isnull().sum()

Yr     0
Mo     0
Dy     0
RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [14]:
data.notnull().sum()

Yr     6574
Mo     6574
Dy     6574
RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [15]:
data.mean().mean()

14.299199599246556

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [16]:
min_loc  = data.min()
max_loc  = data.max()
mean_loc = data.mean()
std_loc  = data.std()

In [17]:
loc_stats = pd.DataFrame({'Min':min_loc , 'Max':max_loc, 'Avg':mean_loc, 'Std dev':std_loc})

In [18]:
loc_stats

       Min    Max        Avg   Std dev
Yr   61.00  78.00  69.500304  5.188131
Mo    1.00  12.00   6.523274  3.448871
Dy    1.00  31.00  15.728628  8.800335
RPT   0.67  35.80  12.362987  5.618413
VAL   0.21  33.37  10.644314  5.267356
ROS   1.50  33.84  11.660526  5.008450
KIL   0.00  28.46   6.306468  3.605811
SHA   0.13  37.54  10.455834  4.936125
BIR   0.00  26.16   7.092254  3.968683
DUB   0.00  30.37   9.797343  4.977555
CLA   0.00  31.08   8.495053  4.499449
MUL   0.00  25.88   8.493590  4.166872
CLO   0.04  28.21   8.707332  4.503954
BEL   0.13  42.38  13.121007  5.835037
MAL   0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [19]:
data2 = data.copy()

In [20]:
Dy_data = data2[data2.columns.difference(['Yr','Mo'])]
Dy_data.head()

,BEL,BIR,CLA,CLO,DUB,Dy,KIL,MAL,MUL,ROS,RPT,SHA,VAL
Date,,,,,,,,,,,,,
1961-01-01,18.50,9.87,10.25,12.58,13.67,1,9.29,15.04,10.83,13.17,15.04,NaN,14.96
1961-01-02,17.54,7.67,10.04,9.67,11.50,2,6.50,13.83,9.79,10.83,14.71,12.62,NaN
1961-01-03,12.75,6.17,NaN,7.67,11.25,3,10.13,12.71,8.50,12.33,18.50,11.17,16.88
1961-01-04,5.46,2.88,1.79,5.88,8.63,4,4.58,10.88,5.83,11.75,10.58,4.54,6.63
1961-01-05,12.92,8.21,6.54,10.34,11.92,5,6.17,11.83,10.92,11.42,13.33,10.71,13.25

In [21]:
Dy_min = pd.DataFrame(Dy_data.groupby('Dy').min())
Dy_max = pd.DataFrame(Dy_data.groupby(['Dy']).max())
Dy_mean = pd.DataFrame(Dy_data.groupby(['Dy']).mean())
Dy_std = pd.DataFrame(Dy_data.groupby(['Dy']).std())

In [22]:
Dy1 = Dy_min.merge(Dy_max, left_index=True, right_index=True)
Dy2 = Dy_mean.merge(Dy_std, left_index=True, right_index=True)

In [23]:
day_stats = Dy1.merge(Dy2, left_index=True, right_index=True)

In [24]:
day_stats.head()

,BEL_x_x,BIR_x_x,CLA_x_x,CLO_x_x,DUB_x_x,KIL_x_x,MAL_x_x,MUL_x_x,ROS_x_x,RPT_x_x,...,CLA_y_y,CLO_y_y,DUB_y_y,KIL_y_y,MAL_y_y,MUL_y_y,ROS_y_y,RPT_y_y,SHA_y_y,VAL_y_y
Dy,,,,,,,,,,,,,,,,,,,,,
1,3.71,0.37,0.42,0.50,1.42,0.17,3.25,0.67,2.71,3.42,...,4.878414,4.608326,5.042033,3.433964,6.831468,4.262220,4.582007,5.534959,5.091676,5.412796
2,1.75,0.04,0.00,0.79,1.83,0.87,2.58,0.54,2.42,2.62,...,4.539312,4.545839,4.907658,3.914021,7.103918,4.173657,5.218781,5.946406,4.996067,5.572061
3,0.58,0.17,0.00,0.13,2.04,0.37,2.25,0.71,3.04,2.00,...,4.154935,4.150422,4.546408,3.231800,6.525284,3.889938,4.621727,4.838973,4.617837,4.848868
4,2.37,0.00,0.46,0.25,0.92,0.46,3.37,0.54,3.42,1.21,...,4.298113,4.248641,4.731526,3.282170,6.184097,3.876585,5.105026,5.482379,4.635846,4.988027
5,1.50,0.13,0.13,0.29,1.38,0.46,2.04,1.08,2.29,2.67,...,4.272289,4.401307,4.703508,3.293683,6.545037,3.835146,4.669431,5.018858,4.333664,4.575625

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [25]:
Mo_data = data2[data2.columns.difference(['Yr','Dy'])]

In [26]:
Mo1 = Mo_data[Mo_data.Mo==1]

In [27]:
Mo1.head()

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,Mo,ROS,RPT,SHA,VAL
Date,,,,,,,,,,,,,
1961-01-01,18.50,9.87,10.25,12.58,13.67,9.29,15.04,10.83,1,13.17,15.04,NaN,14.96
1961-01-02,17.54,7.67,10.04,9.67,11.50,6.50,13.83,9.79,1,10.83,14.71,12.62,NaN
1961-01-03,12.75,6.17,NaN,7.67,11.25,10.13,12.71,8.50,1,12.33,18.50,11.17,16.88
1961-01-04,5.46,2.88,1.79,5.88,8.63,4.58,10.88,5.83,1,11.75,10.58,4.54,6.63
1961-01-05,12.92,8.21,6.54,10.34,11.92,6.17,11.83,10.92,1,11.42,13.33,10.71,13.25

In [28]:
Mo1.pivot_table(index='Mo')

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,ROS,RPT,SHA,VAL
Mo,,,,,,,,,,,,
1,14.55052,8.054839,9.512047,10.053566,11.819355,7.199498,18.028763,9.543208,13.299624,14.847325,11.667734,12.91456

### Step 12. Downsample the record to a yearly frequency for each location.

In [47]:
# need one record for every year. When Mo==1 and Dy==1 then only the January 1st of each year we get as result

In [30]:
data.query('Mo==1 and Dy==1')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1962-01-01,62,1,1,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92
1963-01-01,63,1,1,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13
1964-01-01,64,1,1,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00
1965-01-01,65,1,1,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41
1966-01-01,66,1,1,22.04,21.50,17.08,12.75,22.17,15.59,21.79,18.12,16.66,17.83,28.33,23.79
1967-01-01,67,1,1,6.46,4.46,6.50,3.21,6.67,3.79,11.38,3.83,7.71,9.08,10.67,20.91
1968-01-01,68,1,1,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29
1969-01-01,69,1,1,6.13,1.63,5.41,1.08,2.54,1.00,8.50,2.42,4.58,6.34,9.17,16.71
1970-01-01,70,1,1,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00
1971-01-01,71,1,1,3.71,0.79,4.71,0.17,1.42,1.04,4.63,0.75,1.54,1.08,4.21,9.54
1972-01-01,72,1,1,9.29,3.63,14.54,4.25,6.75,4.42,13.00,5.33,10.04,8.54,8.71,19.17
1973-01-01,73,1,1,16.50,15.92,14.62,7.41,8.29,11.21,13.54,7.79,10.46,10.79,13.37,9.71
1974-01-01,74,1,1,23.21,16.54,16.08,9.75,15.83,11.46,9.54,13.54,13.83,16.66,17.21,25.29
1975-01-01,75,1,1,14.04,13.54,11.29,5.46,12.58,5.58,8.12,8.96,9.29,5.17,7.71,11.63
1976-01-01,76,1,1,18.34,17.67,14.83,8.00,16.62,10.13,13.17,9.04,13.13,5.75,11.38,14.96
1977-01-01,77,1,1,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70
1978-01-01,78,1,1,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46

### Step 13. Downsample the record to a monthly frequency for each location.

In [49]:
# Downsample monthly wise would result as each day of the month for that particular year

In [48]:
data.query('Dy==1')

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-02-01,61,2,1,14.25,15.12,9.04,5.88,12.08,7.17,10.17,3.63,6.50,5.50,9.17,8.00
1961-03-01,61,3,1,12.67,13.13,11.79,6.42,9.79,8.54,10.25,13.29,NaN,12.21,20.62,NaN
1961-04-01,61,4,1,8.38,6.34,8.33,6.75,9.33,9.54,11.67,8.21,11.21,6.46,11.96,7.17
1961-05-01,61,5,1,15.87,13.88,15.37,9.79,13.46,10.17,9.96,14.04,9.75,9.92,18.63,11.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08-01,78,8,1,19.33,15.09,20.17,8.83,12.62,10.41,9.33,12.33,9.50,9.92,15.75,18.00
1978-09-01,78,9,1,8.42,6.13,9.87,5.25,3.21,5.71,7.25,3.50,7.33,6.50,7.62,15.96
1978-10-01,78,10,1,9.50,6.83,10.50,3.88,6.13,4.58,4.21,6.50,6.38,6.54,10.63,14.09
1978-11-01,78,11,1,13.59,16.75,11.25,7.08,11.04,8.33,8.17,11.29,10.75,11.25,23.13,25.00
1978-12-01,78,12,1,21.29,16.29,24.04,12.79,18.21,19.29,21.54,17.21,16.71,17.83,17.75,25.70

### Step 14. Downsample the record to a weekly frequency for each location.

In [ ]:
# Downsample weekly wise mean every seven days need one record

In [50]:
data[::7]

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-08,61,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
1961-11-05,61,1,15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
1961-12-02,61,1,22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
1961-12-09,61,1,29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03,78,12,3,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
1978-12-10,78,12,10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
1978-12-17,78,12,17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
1978-12-24,78,12,24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
1978-12-31,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [31]:
year = data.index.year.unique()
year

Int64Index([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
            1972, 1973, 1974, 1975, 1976, 1977, 1978],
           dtype='int64', name='Date')

In [32]:
month = data.index.month.unique()
month

Int64Index([1, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64', name='Date')

In [33]:
Mo_Yr_data = data2[data2.columns.difference(['Dy'])]

In [34]:
Mo_Yr_data.head()

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,Mo,ROS,RPT,SHA,VAL,Yr
Date,,,,,,,,,,,,,,
1961-01-01,18.50,9.87,10.25,12.58,13.67,9.29,15.04,10.83,1,13.17,15.04,NaN,14.96,61
1961-01-02,17.54,7.67,10.04,9.67,11.50,6.50,13.83,9.79,1,10.83,14.71,12.62,NaN,61
1961-01-03,12.75,6.17,NaN,7.67,11.25,10.13,12.71,8.50,1,12.33,18.50,11.17,16.88,61
1961-01-04,5.46,2.88,1.79,5.88,8.63,4.58,10.88,5.83,1,11.75,10.58,4.54,6.63,61
1961-01-05,12.92,8.21,6.54,10.34,11.92,6.17,11.83,10.92,1,11.42,13.33,10.71,13.25,61

In [35]:
Mo_Yr_data.groupby(['Mo','Yr']).mean()

             BEL        BIR        CLA        CLO        DUB       KIL  \
Mo Yr
1  61  13.880968   8.588065   9.245333  10.107419  11.184839  7.736774
   62  16.369355   8.720000   9.600000  11.498710  14.211935  7.538065
   63  11.428710   7.835484   9.844839   9.390000  12.797419  6.635806
   64  15.067419   6.865806   9.687419   9.676774   9.592903  6.953548
   65  16.196129   9.251290  11.260000  11.706129  13.850968  8.258387
...          ...        ...        ...        ...        ...       ...
12 74  18.803548  10.153871  15.034194  12.915161  16.602903  9.734839
   75  12.028710   4.178065   6.176129   7.342903  10.351290  4.478387
   76   7.814839   6.148387   4.500000   6.147742   8.034516  3.383871
   77  13.237419   9.466774  10.703871   9.415484  13.231613  6.592258
   78  13.859677   9.241613  10.194839  11.028710  12.077419  7.094839

             MAL        MUL        ROS        RPT        SHA        VAL
Mo Yr
1  61  14.703226   9.085806  13.431613  14.841333  11.072759  11.988333
   62  15.661613   9.670000  12.591935  14.783871  11.779677  13.160323
   63  18.822258   7.841613  15.121613  14.868387  11.080645  11.112903
   64  14.145484   6.947742  11.741290  12.661290  11.400645  11.818387
   65  17.888710   9.899355  15.274194  15.741613  13.588065  15.546774
...          ...        ...        ...        ...        ...        ...
12 74  24.124194  14.883548  14.773871  18.511290  16.944194  17.805806
   75  18.689032   8.401935  11.217742  11.655484   6.628710   8.686774
   76  14.346774   5.952258  10.474516  11.962258   7.645484  10.086774
   77  19.299677  10.401613  13.469677  14.751935  11.247742  12.744839
   78  21.371613  10.616774  15.635161  16.175484  11.398710  13.748065

[216 rows x 12 columns]

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [36]:
s = data.index.isocalendar().week
s

Date
1961-01-01    52
1961-01-02     1
1961-01-03     1
1961-01-04     1
1961-01-05     1
              ..
1978-12-27    52
1978-12-28    52
1978-12-29    52
1978-12-30    52
1978-12-31    52
Name: week, Length: 6574, dtype: UInt32

In [37]:
data1 = data.copy()

In [38]:
data1.set_index(s, inplace=True)

In [39]:
data1.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
week,,,,,,,,,,,,,,,
52,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [40]:
data1.groupby(data1.index).mean()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
week,,,,,,,,,,,,,,,
1,69.388889,2.222222,7.500000,13.920000,11.710880,12.853016,6.617302,10.473175,7.578492,11.623651,9.123600,9.272222,9.870635,14.241746,18.249841
2,69.811321,1.000000,8.415094,15.444717,13.504528,14.104717,7.094906,12.230566,8.184717,12.113585,9.939245,9.692264,9.559434,14.948302,18.242830
3,69.000000,1.000000,20.000000,13.676154,11.921538,13.295385,6.330769,11.052308,8.214615,11.654615,9.586154,9.337692,9.860769,14.151538,19.094615
4,70.083333,1.000000,26.000000,16.208333,14.823333,16.127500,7.858333,13.040833,8.395000,13.055833,10.645833,10.765000,11.393333,16.794167,20.674167
5,69.333333,1.715686,10.813725,14.640098,12.991569,13.281667,7.487647,11.969118,8.234902,12.148333,9.689216,9.834118,10.153431,14.735392,17.584608
6,69.500000,2.000000,8.055556,13.203730,11.508492,12.142619,6.469127,11.025476,7.166746,11.115317,8.894206,9.323413,9.298175,13.903254,17.921587
7,69.500000,2.000000,15.055556,14.517460,12.681349,13.219524,7.148160,12.141032,7.906190,11.390238,9.749524,9.417778,9.605476,13.776667,17.130159
8,69.500000,2.000000,22.055556,13.422857,11.822937,13.367381,7.142400,11.480635,7.729683,11.329048,9.329762,9.247063,9.541984,13.132302,16.882540
9,69.500000,2.547619,13.650794,12.761360,11.837460,12.627440,6.620000,10.937143,7.457778,10.622778,9.387778,8.864160,9.611508,13.724048,16.602080
10,69.500000,3.000000,7.833333,13.526720,11.758095,13.151667,7.317063,11.477143,7.965397,10.751111,9.151825,9.367302,9.761429,13.055000,16.047381
11,69.500000,3.000000,14.833333,13.597143,11.495079,13.032698,7.446270,11.689206,7.990238,11.444365,10.038968,9.783730,10.398730,13.823968,17.331280
12,69.500000,3.000000,21.833333,13.006825,11.621032,12.579048,7.390476,11.850476,8.288095,12.008413,10.136746,10.176270,10.259048,14.389524,17.859365
13,69.500000,3.190476,22.928571,12.772540,11.076349,12.104444,7.386640,11.664286,8.042063,11.306587,9.494365,9.977760,10.038571,14.241667,16.486508
14,69.500000,3.928571,7.047619,13.903968,11.025238,14.149286,7.798968,11.482857,8.006905,11.525238,9.579921,9.894762,9.948175,13.386270,16.691349
15,69.500000,4.000000,11.833333,12.599444,9.966667,11.654286,6.758175,10.642540,7.377778,10.677143,9.328413,9.248333,9.338413,12.842460,15.900476
16,69.500000,4.000000,18.833333,12.753968,11.111587,11.966587,7.110000,10.983730,7.660794,9.981905,8.763571,8.802063,9.326905,12.472857,14.229524
17,69.500000,4.047619,24.404762,10.966349,9.647698,11.272619,6.019286,9.627857,6.687063,8.870714,8.091825,7.836032,8.238333,11.971667,13.097460
18,69.500000,4.785714,9.261905,12.897222,11.095079,11.256825,6.745794,11.035952,7.405238,9.318730,8.674206,8.340952,8.952857,12.928968,14.523810
19,69.500000,5.000000,9.833333,13.061429,11.275159,12.630397,7.005238,10.944683,7.559603,9.624320,9.111349,8.604683,9.243254,13.721984,14.288016
20,69.500000,5.000000,16.833333,11.338571,9.769200,11.566746,6.195238,9.967937,6.811429,8.732857,8.495317,7.984365,8.507540,12.740952,13.859286
21,69.500000,5.000000,23.833333,11.282698,9.673889,11.223968,5.975680,10.051905,6.730476,8.435397,8.150556,7.871587,8.278413,12.536270,13.626825
22,69.500000,5.412698,18.039683,9.673333,8.264683,10.382302,5.195397,8.696825,5.802063,7.275873,7.533016,7.120873,7.247222,11.238810,11.770317
23,69.500000,5.992063,7.079365,10.092143,8.980556,10.030476,5.304048,8.882143,5.816825,7.420952,7.387857,7.031587,7.173810,11.605635,12.395476
24,69.500000,6.000000,13.833333,10.131905,8.741984,10.518254,5.498492,8.997381,6.189762,7.320317,7.597143,7.172857,7.259524,11.835873,12.041270
25,69.500000,6.000000,20.833333,11.680238,9.898016,10.730397,6.294444,11.030397,7.410952,9.410238,8.822698,8.728016,8.677063,13.494762,14.329841
26,69.500000,6.190476,22.119048,10.036000,8.770635,10.113333,5.798492,9.680159,6.474603,8.226032,7.920556,7.906270,7.937778,12.462222,12.993840
27,69.500000,6.928571,6.976190,9.991984,7.916984,8.741032,5.276825,8.998175,5.852302,7.817680,7.182143,7.662143,7.451349,11.582857,13.096984
28,69.500000,7.000000,11.833333,9.962143,8.272619,9.651349,5.461270,9.344206,5.951111,7.937857,7.341746,7.671905,7.267063,11.450159,12.932460
29,69.500000,7.000000,18.833333,10.281746,8.422063,9.755079,5.672778,9.766667,6.300238,8.277619,7.568175,7.725952,7.616349,12.021667,12.880476
30,69.500000,7.015873,25.341270,9.760397,8.211984,9.181587,5.195476,8.920873,5.657222,7.566905,6.904603,7.078571,7.010317,11.410794,12.279683
31,69.500000,7.674603,11.920635,9.721984,8.218571,9.585556,5.078651,8.940397,5.692857,7.470397,6.646746,7.039206,6.615556,11.020317,12.348492
32,69.500000,8.000000,8.833333,10.202640,8.669683,9.357619,5.524206,9.143492,6.091984,7.518413,6.896190,7.409365,7.057840,11.154365,12.746587
33,69.500000,8.000000,15.833333,10.213254,8.000476,10.086667,5.169127,8.638413,5.652619,7.635635,6.591746,7.033413,6.502460,10.647222,11.315680
34,69.500000,8.000000,22.833333,10.675556,9.065317,10.466190,5.380635,9.343651,6.275317,8.164603,7.503889,7.753730,7.779206,11.881667,13.764762
35,69.500000,8.293651,20.730159,10.378571,8.525476,10.496746,5.398571,8.739444,5.938968,8.088889,6.907857,7.063016,7.213175,11.606825,13.390873
36,69.500000,8.968254,6.817460,10.764365,9.296190,9.931270,5.387381,9.245873,6.353810,8.314603,7.012857,7.449762,7.221905,11.597619,13.754921
37,69.500000,9.000000,12.833333,11.371190,9.722857,10.963889,5.638810,9.603968,6.646587,8.698492,7.704841,7.532143,7.645952,12.658968,14.827540
38,69.500000,9.000000,19.833333,9.929524,8.863095,10.245280,4.462080,8.346190,5.408175,7.285079,6.724640,6.387381,6.423095,11.394127,13.094921
39,69.500000,9.111111,23.500000,13.960635,12.361920,11.787302,6.898095,11.971032,7.882540,10.012619,9.489206,8.933413,9.402540,14.980000,16.928095
40,69.500000,9.865079,7.880952,12.199841,10.619127,11.392698,5.854048,10.308175,6.841508,9.301905,8.581111,8.561667,8.519524,13.326429,15.758095
41,69.500000,10.000000,10.833333,12.260800,10.581508,11.316190,5.468889,9.998254,6.667460,8.667778,8.279444,7.782540,8.176825,13.550952,15.663571
42,69.500000,10.000000,17.833333,12.777460,10.966587,11.381667,6.349048,10.716032,7.526032,9.941349,8.802222,8.460873,9.039286,14.088175,17.116111
43,69.500000,10.000000,24.833333,13.358651,11.915238,11.888095,6.554286,11.363571,7.769524,10.170873,9.458889,8.925840,9.800873,16.055873,18.580952
44,69.405128,7.169231,14.184615,14.077179,12.215077,12.850000,6.805128,11.049692,7.597077,10.420667,9.005949,8.835436,9.559487,14.284103,17.692462
45,69.548837,6.860465,11.386047,14.400698,12.762605,13.244791,6.862791,11.556355,7.894000,11.490186,9.447116,9.364977,9.642093,14.449116,18.232791
46,69.561538,10.692308,14.953846,14.096846,12.565000,13.101462,6.983154,11.603462,7.844615,11.637769,9.014615,9.155154,9.582923,14.284692,19.428923
47,69.500000,11.000000,21.833333,11.731508,10.361667,11.107698,5.413968,9.200952,6.172540,10.071920,7.322222,7.690397,7.933095,12.399762,16.473254
48,69.435583,8.957055,20.527607,13.817239,12.136074,12.050061,6.297791,11.072699,7.641472,11.273804,8.655706,8.907791,9.249939,14.161288,17.849571
49,69.470085,6.905983,15.397436,14.776094,13.048205,12.752650,7.306880,11.743291,8.209444,12.114231,9.496624,9.844060,10.012222,14.860000,18.847436
50,69.622378,10.692308,14.657343,14.520350,12.493846,12.796224,7.096643,11.650769,8.277483,11.867343,9.456434,9.483706,9.968462,14.752168,18.312517
51,69.500000,12.000000,19.833333,13.639921,11.697619,12.501667,5.991270,10.541667,7.275159,10.301667,8.462619,8.438730,8.687937,13.298889,17.182063
52,69.480315,11.393701,25.165354,14.469134,11.692283,14.210000,7.018189,10.856905,7.379213,12.011969,9.121811,9.665197,9.677953,13.549055,19.183228
53,70.380952,7.809524,18.857143,12.694286,9.451905,13.526190,5.343810,8.040476,5.884286,10.366190,5.556190,6.954286,7.820952,11.028095,17.103810

In [41]:
wmin = pd.DataFrame(data1.groupby(data1.index).min())
wmax = pd.DataFrame(data1.groupby(data1.index).max())
wmean = pd.DataFrame(data1.groupby(data1.index).mean())
wstd = pd.DataFrame(data1.groupby(data1.index).mean())

In [42]:
w1 = wmin.merge(wmax, left_index=True, right_index=True)
w2 = wmean.merge(wstd, left_index = True, right_index=True)

In [43]:
week_stats = w1.merge(w2, left_index=True, right_index =True)

In [44]:
week_stats.head()

,Yr_x_x,Mo_x_x,Dy_x_x,RPT_x_x,VAL_x_x,ROS_x_x,KIL_x_x,SHA_x_x,BIR_x_x,DUB_x_x,...,ROS_y_y,KIL_y_y,SHA_y_y,BIR_y_y,DUB_y_y,CLA_y_y,MUL_y_y,CLO_y_y,BEL_y_y,MAL_y_y
week,,,,,,,,,,,,,,,,,,,,,
1,61,1,1,2.62,0.54,3.79,0.37,0.42,0.13,2.62,...,12.853016,6.617302,10.473175,7.578492,11.623651,9.123600,9.272222,9.870635,14.241746,18.249841
2,61,1,5,5.29,3.29,3.54,0.63,2.50,1.42,2.54,...,14.104717,7.094906,12.230566,8.184717,12.113585,9.939245,9.692264,9.559434,14.948302,18.242830
3,61,1,20,7.54,3.96,6.38,1.21,5.50,2.29,3.17,...,13.295385,6.330769,11.052308,8.214615,11.654615,9.586154,9.337692,9.860769,14.151538,19.094615
4,64,1,20,2.08,2.83,4.54,2.21,4.17,1.29,6.92,...,16.127500,7.858333,13.040833,8.395000,13.055833,10.645833,10.765000,11.393333,16.794167,20.674167
5,61,1,1,2.71,1.17,3.21,0.37,1.25,0.00,1.92,...,13.281667,7.487647,11.969118,8.234902,12.148333,9.689216,9.834118,10.153431,14.735392,17.584608